<% include partials/header %>
<h1>Hey welcome</h1>
<form method="GET" action="\state" class="form-inline">
    <div class="form-group">
    <input type="text" placeholder="Search for..." name="search" class="form-control">
    <input type="submit" value="search" class="btn btn-primary btn-large" type="submit">
</div>
</form>
<div class="row">
</br>
</br>
<h1><%=data.length%></h1>
<%for(var i=0;i<=data.length;i++)
{%>
  

<h1>Hey</h1>
<%}%>







    </div>
<% include partials/footer %>